@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --colorPrimary: #e63946;
  --colorSecondary: #1d3557;
  --colorSuccess: #588157;
  --colorLight: #f3eff5;
  --colorMid: #bfc0c0;
  --colorDark: #090909;
  --borderRadius: 3px;
  --transition: all 0.3s ease-in-out;
  --fontFamily: 'Comfortaa', cursive;
  --maxWidth: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  background-color: var(--colorLight);
  color: var(--colorDark);
  line-height: 1.5;
  letter-spacing: 2px;
}
